
@{
    ViewData["Title"] = "Tool Info";
}
<link rel="stylesheet" href="~/css/site.css" />

<h3>
    Rozwiązywanie równania kwadratowego
</h3>
<h5>
    Wpisz równanie jako<br />
    localhost:@ViewData["port"]/Tool/Solve/a/b/c
    <br />
    gdzie a,b,c to twoje współczynniki na przykład:
    <br />
    localhost:@ViewData["port"]/Tool/Solve/2/5/3
</h5>
